<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
</head>
<body>
    <h1>Editar Perfil</h1>
    {% if status == 'ok' %}
        <p style="color: green;">¡Cambios hechos!</p>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="birth_date">Fecha de Nacimiento:</label>
        <input 
            type="date" 
            id="birth_date" 
            name="birth_date" 
            value="{{ profile.birth_date|date:'Y-m-d' }}">
        <br>
        <label for="avatar">Avatar:</label>
        <input type="file" id="avatar" name="avatar">
        <br>
        <button type="submit">Guardar Cambios</button>
    </form>
    <p><a href="{% url 'movie_list' %}">Volver al Home</a></p>
</body>
</html>

