{% extends 'streaming/base.html' %}
{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<main class="movie-list-container">
    <h1 class="section-title">Iniciar Sesión</h1>
    {% if error %}
        <p class="error-message">{{ error }}</p>
    {% endif %}
    <form method="post" class="login-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Nombre de Usuario:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn">Iniciar Sesión</button>
        </div>
    </form>
    <div class="profile-links">
        <p>¿No tienes una cuenta? <a href="{% url 'register' %}" class="action-link">Regístrate aquí</a></p>
    </div>
</main>
{% endblock %}


