{% extends 'streaming/base.html' %}
{% load static %}

{% block title %}{{ item.title }}{% endblock %}

{% block content %}
<div class="details-container">
    <div class="details-header">
        <img src="{{ item.poster_path }}" alt="{{ item.title }}" class="details-poster">
        <div class="details-info">
            <h1>{{ item.title }}</h1>
            <p><strong>Calificación:</strong> {{ item.vote_average }}</p>
            <p><strong>Fecha de lanzamiento:</strong> {{ item.release_date }}</p>
            {% if genres %}
                <p><strong>Géneros:</strong> {{ genres|join:", " }}</p>
            {% else %}
                <p><strong>Géneros:</strong> No disponible</p>
            {% endif %}

        </div>
    </div>
    <div class="details-description">
        <h2>Descripción</h2>
        <p>{{ item.description }}</p>
    </div>
</div>
{% endblock %}
