{% extends 'streaming/base.html' %}
{% load static %}

{% block title %}{{ item.title }}{% endblock %}

{% block content %}
<main class="details-container">
    <div class="details-header">
        <img src="{{ item.poster_path }}" alt="{{ item.title }}" class="details-poster">
        <div class="details-info">
            <h1 class="details-title">{{ item.title }}</h1>
            <p><strong>Calificación:</strong> {{ item.vote_average }}</p>
            <p><strong>Fecha de lanzamiento:</strong> {{ item.release_date }}</p>
            {% if genres %}
                <p><strong>Géneros:</strong> {{ genres|join:", " }}</p>
            {% else %}
                <p><strong>Géneros:</strong> No disponible</p>
            {% endif %}
            <!-- Bloque de Descripción -->
            <div class="details-description-inline">
                <h2 class="section-subtitle">Descripción</h2>
                <p>{{ item.description }}</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}

