{% extends 'streaming/base.html' %}
{% load static %}
{% block title %}Lista de Series{% endblock %}

{% block content %}
<h1>Series Populares</h1>
<ul>
    {% for show in tv_shows %}
    <li>
        <h2>{{ show.title }}</h2>
        <img src="{{ show.poster_path }}" alt="{{ show.title }}" width="200">
        <p>{{ show.description }}</p>
        <p>Primera emisión: {{ show.release_date }}</p>
        <p>Calificación: {{ show.vote_average }}</p>
    </li>
    {% endfor %}
</ul>
{% endblock %}
