{% extends 'streaming/base.html' %}
{% load static %}
{% block title %}Lista de Series{% endblock %}

{% block content %}
<h1>Series</h1>

<!-- Mi Lista -->
{% if request.user.is_authenticated %}
<h2>Mi Lista</h2>
<ul>
    {% for tv_show in tv_shows %}
        {% if tv_show.id in favorite_tvshow_ids %}
        <li>
            <h3>{{ tv_show.title }}</h3>
            <img src="{{ tv_show.poster_path }}" alt="{{ tv_show.title }}" width="200">
            <p>{{ tv_show.description }}</p>
            <a href="{% url 'toggle_favorite_tvshow' tv_show.id %}">Quitar de Mi Lista</a>
        </li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}

<!-- Top 10 Series -->
<h2>Top 10 Series</h2>
<ul>
    {% for tv_show in top_tvshows %}
    <li>
        <h3>{{ tv_show.title }}</h3>
        <img src="{{ tv_show.poster_path }}" alt="{{ tv_show.title }}" width="200">
        <p>{{ tv_show.description }}</p>
        {% if request.user.is_authenticated %}
        <a href="{% url 'toggle_favorite_tvshow' tv_show.id %}">
            {% if tv_show.id in favorite_tvshow_ids %}
                Quitar de Mi Lista
            {% else %}
                Añadir a Mi Lista
            {% endif %}
        </a>
        {% endif %}
    </li>
    {% endfor %}
</ul>

<!-- Novedades -->
<h2>Novedades</h2>
<ul>
    {% for tv_show in new_tvshows %}
    <li>
        <h3>{{ tv_show.title }}</h3>
        <img src="{{ tv_show.poster_path }}" alt="{{ tv_show.title }}" width="200">
        <p>{{ tv_show.description }}</p>
        {% if request.user.is_authenticated %}
        <a href="{% url 'toggle_favorite_tvshow' tv_show.id %}">
            {% if tv_show.id in favorite_tvshow_ids %}
                Quitar de Mi Lista
            {% else %}
                Añadir a Mi Lista
            {% endif %}
        </a>
        {% endif %}
    </li>
    {% endfor %}
</ul>

<!-- Todas las Series -->
<h2>Todas las Series</h2>
<ul>
    {% for tv_show in tv_shows %}
    <li>
        <h3>{{ tv_show.title }}</h3>
        <img src="{{ tv_show.poster_path }}" alt="{{ tv_show.title }}" width="200">
        <p>{{ tv_show.description }}</p>
        {% if request.user.is_authenticated %}
        <a href="{% url 'toggle_favorite_tvshow' tv_show.id %}">
            {% if tv_show.id in favorite_tvshow_ids %}
                Quitar de Mi Lista
            {% else %}
                Añadir a Mi Lista
            {% endif %}
        </a>
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% endblock %}
